 .logo-container{
    .logo-div{
        display: flex;
        flex-direction: row;


       .text-div{
        .text2{
            font-size: 10px;
            justify-content: flex-end;
        }
       }
    }
 }