.home-container {
  color: #fff;
  width: 60%;
  margin: 0 auto;

  .company-branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

    h1{
      font-family: 'home-logo-text';
      font-size: 50px;
      padding-bottom: 0;
    }

    p {
      font-family: 'cinzel';
    }

    .menu-text{
      font-size: 50px;
    }
    .social-icons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      div {
        display: flex;
        align-items: center;
       padding: 5px;
        border-radius: 50%;
        background-color: #ccc;
        margin-right: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        &:hover {
          cursor: pointer;
        }
      }

    }
  }

  .filter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
    border-top: 0.5px solid #fff;
    padding-top: 2rem;
  }
}
