@font-face {
  font-family: "logo-font";
  src: url("./assets/font/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "logo-text-font";
  src: url("./assets/font/Avenir\ LT\ 35\ Light.ttf") format("truetype");
}

@font-face {
  font-family: "home-logo-text";
  src: url("./assets/font/FontsFree-Net-Lulo-Clean-W01-One-Bold\ \(1\).ttf");
}

@font-face {
  font-family: "cinzel";
  src: url("./assets/font/Cinzel-SemiBold.ttf");
}

@font-face {
    font-family: "Trend Sans W00 Four";
    src: url("https://db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.eot");
    src: url("https://db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.svg#Trend Sans W00 Four")format("svg");
}

@font-face {
  font-family: "Main-heading-font";
  src: url('./assets/font/TrendSansW00-FourItalic.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../src/assets/images/cuttlery.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
